{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Customers</h4>
                  <p class="card-category"> </p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          ID
                        </th>
                        <th>
                          Name
                        </th>
                        <th>
                          Address
                        </th>
                        <th>
                          Email
                        </th>
                        <th>
                          Phone
                        </th>
                      </thead>
                      <tbody>
                        {% for customer in cus_list %}
                          <tr>
                            <td>
                              {{customer.id}}
                            </td>
                            <td>
                              {{customer.name}}
                            </td>
                            <td>
                              {{customer.address}}
                            </td>
                            <td>
                              {{customer.email}}
                            </td>
                            <td>
                              {{customer.phone}}
                            </td>
                          </tr>
                        {% endfor %}
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
                     
                        
                      
        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
